.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    min-height: 700px; 
    background-image: url("https://cf-images.us-east-1.prod.boltdns.net/v1/jit/1384193102001/3e1e23cb-cffe-4f41-abae-67581726b475/main/1920x1080/2s500ms/match/image.jpg");
    background-size: cover; 
    height: 750px;
    background-position: center; 
    background-repeat: no-repeat; 
}

.hero__content {
    position: relative;
    z-index: 1; 
    max-width: 800px;
    padding: 40px 20px;
    top: -200px;
}

.hero__title {
    font-size: 52px;
    font-family: 'CiscoSans', sans-serif;
    margin: 0 0 20px;
    font-weight: 300;
    line-height: 62px;
    max-width: 100%;
}

.hero__subtitle {
    font-size: 16px;
    font-family: 'CiscoSans', sans-serif;
    margin: 0 0 30px;
}

.hero__button {
    display: inline-block;
    text-decoration: none;
    background-color: #ffffff;
    color: #131414;
    padding: 10px 20px;
    border-radius: 4.8rem;
    font-size: 16px;
    font-family: 'CiscoSans', sans-serif;
    border: 1px solid transparent;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
    
}

.hero__button:hover {
    background-color: rgb(220, 220, 220);
    
}


@media (max-width: 768px) {
    .hero {
        min-height: 500px;
        height: 600px; 
        min-height: 700px;
        background-image: url("https://www.cisco.com/content/dam/cisco-cdc/site/images/heroes/solutions/hp-header-ai-animation-tablet-v2-2048x1500.jpg");
    }

    .hero__title {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 15px;
        margin-top: 50px;
    }

    .hero__subtitle {
        font-size: 16px;
        margin-bottom: 20px;
        width: 60%;
        margin-left: auto; 
        margin-right: auto; 
        line-height: 1.5;
    }

    .hero__button {
        font-size: 16px; 
        padding: 10px 20px;
    }
}
@media (max-width: 824px) {
    .hero {
        background-image: url("https://www.cisco.com/content/dam/cisco-cdc/site/images/heroes/solutions/hp-header-ai-animation-tablet-v2-2048x1500.jpg");
    }
}
