.product-cards {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    padding: 0; 
    margin-top: 40px; 
    flex-wrap: wrap; 
    margin-bottom: 16px; 
    
}

.product-cards__item {
    display: flex;
    flex-direction: column; 
    text-align: left; 
    padding: 0; 
    margin: 0; 
    width: 430.66px; 
    height: 474.25px; 
    box-sizing: border-box; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.product-cards__image {
    max-width: 100%; 
    width: 430.66px; 
    height: 242.23px; 
    object-fit: cover; 
    margin-bottom: 16px; 
}


.product-cards__title {
    font-size: 20px;         
    line-height: 28px;       
    letter-spacing: 0;       
    text-align: left;  
    margin-left: 30px;
    font-weight: normal;
    margin-top: 20px;
}


p.product-cards__description {
    font-size: 18px; 
    color: #333333; 
    margin-bottom: 16px; 
    white-space: pre;
    text-align: left;
    margin-left: 2px;
    margin-top: -20px; 
    line-height: 1.5; 
    font-weight: normal;
}

.product-cards__link {
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    color: #0078d4; 
    text-decoration: none;
    position: relative;
    display: inline-flex; 
    align-items: center; 
    
}

.product-cards__link-icon {
    width: 12px; 
    height: 12px;
    margin-left: 8px; 
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiI+PHBhdGggZD0iTTMuNDA5MTgsMTEuODM1NDVsLS43MDctLjcwN0w3LjgzMTA1LDYsMi42ODQ1Ny44NTM1MmwuNzA3LS43MDcsNS41LDUuNWEuNDk5ODEuNDk5ODEsMCwwLDEsMCwuNzA3WiIgZmlsbD0iIzAwNzBkMiIvPjwvc3ZnPg==");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.product-cards__link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.product-cards__link:hover .product-cards__link-icon {
    transform: translateX(5px); 
}

.latest-products {
    text-align: center; 
    margin-bottom: 10px; 
    margin-top: 40px; 
}

.latest-products__title {
    font-size: 32px; 
    font-weight: 300; 
    letter-spacing: 0; 
    line-height: 40px; 
    color: #333; 
}


@media (max-width: 824px) { 

    .product-cards__item {
        width: 719px;  
        height: auto; 
        margin-top: 10px;  
        margin-bottom: 0; 
        box-sizing: border-box;
        order: 1; 
    }

    .product-cards__image {
        width: 719px;  
        height: 404.44px; 
        max-width: 100%; 
        object-fit: cover; 
        margin-bottom: 0; 
        gap: 30px;
        order: 1; 
    }

    .product-cards__link {
        text-align: left;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
        color: #0078d4; 
        text-decoration: none;
        position: relative;
        display: inline-flex; 
        align-items: center; 
        order: 2;
    }
    
    .product-cards__title {
        font-size: 20px;
        margin-left: 40px;
        margin-top: 40px;
        order: 2;
    }

    p.product-cards__description {
        font-size: 16px;
        margin-left: 40px;
        white-space: normal; 
        margin-top: 10px;  
        margin-bottom: 10px;  
        order: 2;
    }
}

@media (max-width: 768px) { 

    .latest-products__title {
        font-size: 24px; 
        padding-left: 50px;
        padding-right: 50px;
    }

    .latest-products {
        text-align: center; 
        margin-bottom: 10px; 
        margin-top: 40px; 
        align-items: center;  
    }

    .product-cards__item {
        width: 450px;  
        height: auto;
        margin-top: 10px;
        margin-bottom: 0;
        box-sizing: border-box;
        order: 1;
    }

    .product-cards__image {
        width: 450px;  
        height: 253.13px;  
        max-width: 100%;
        object-fit: cover;
        margin-bottom: 0;
        gap: 30px;
        order: 1;
    }

    .product-cards__link {
        text-align: left;
        margin-left: 40px;  
        margin-top: 20px;
        margin-bottom: 40px;
        color: #0078d4;
        text-decoration: none;
        position: relative;
        display: inline-flex;
        align-items: center;
        order: 2;
    }

    .product-cards__title {
        font-size: 20px; 
        margin-left: 40px;
        margin-top: 40px;
        order: 2;
    }

    p.product-cards__description {
        font-size: 16px;  
        margin-left: 40px;
        white-space: normal;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: calc(100% - 90px); 
        order: 2;
    }
}

